/* You can add global styles to this file, and also import other style files */
:root {
  --font-family: Inter, sans-serif;
  --body-font-family: Inter, sans-serif;
  --heading-1: 60px;
  --heading-2: 48px;
  --heading-3: 36px;
  --heading-4: 30px;
  --heading-5: 24px;
  --heading-6: 20px;
  --body-text: 16px;
  --heading-1-line-height: 70px;
  --heading-2-line-height: 52px;
  --heading-3-line-height: 48px;
  --heading-4-line-height: 40px;
  --heading-5-line-height: 34px;
  --heading-6-line-height: 30px;
  --body-text-line-height: 24px;
  --fw-100-thin: 100;
  --fw-200-extraLight: 200;
  --fw-300-light: 300;
  --fw-400-regular: 400;
  --fw-500-medium: 500;
  --fw-600-semibold: 600;
  --fw-700-bold: 800;
  --fw-800-extraBold: 800;
  --fw-900-black: 900;
  --primary-900: #1A237E;
  --primary-800: #283593;
  --primary-700: #303F9F;
  --primary-50: #E8EAF6;
  --secondary-900: #4C1D95;
  --secondary-800: #5B21B6;
  --secondary-700: #6D28D9;
  --secondary-50: #F5F3FF;
  --success-900: #1B5E20;
  --success-800: #2E7D32;
  --success-700: #388E3C;
  --success-50: #E8F5E9;
  --info-900: #006064;
  --info-800: #00838F;
  --info-700: #0097A7;
  --info-50: #E0F7FA;
  --warning-900: #FF6F00;
  --warning-800: #FF8F00;
  --warning-700: #FFA000;
  --warning-50: #FFFDE7;
  --danger-900: #B71C1C;
  --danger-800: #C62828;
  --danger-700: #D32F2F;
  --danger-50: #FFEBEE;
  --gray-900: #212121;
  --gray-800: #424242;
  --gray-700: #616161;
  --gray-600: #757575;
  --gray-500: #9E9E9E;
  --gray-400: #BDBDBD;
  --gray-300: #E0E0E0;
  --gray-200: #EEEEEE;
  --gray-100: #F5F5F5;
  --gray-50: #FAFAFA;
  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-xxl: 20px;
  --radius-rounded: 9999px;
  --box-shadow: 0px 1px 3px 0px gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: var(--gray-900);
}

h1 {
  font-size: var(--heading-1);
  line-height: var(--heading-1-line-height);
}

h2 {
  font-size: var(--heading-2);
  line-height: var(--heading-2-line-height);
}

h3 {
  font-size: var(--heading-3);
  line-height: var(--heading-3-line-height);
}

h4 {
  font-size: var(--heading-4);
  line-height: var(--heading-4-line-height);
}

h5 {
  font-size: var(--heading-5);
  line-height: var(--heading-5-line-height);
}

h6 {
  font-size: var(--heading-6);
  line-height: var(--heading-6-line-height);
}

p,
a {
  font-family: var(--body-font-family);
  font-size: var(--body-text);
  line-height: var(--body-text-line-height);
}

.fw-100 {
  font-weight: var(--fw-100-thin);
}

.fw-100 {
  font-weight: var(--fw-100-thin);
}

.fw-200 {
  font-weight: var(--fw-200-extraLight);
}

.fw-300 {
  font-weight: var(--fw-300-light);
}

.fw-400 {
  font-weight: var(--fw-400-regular);
}

.fw-500 {
  font-weight: var(--fw-500-medium);
}

.fw-600 {
  font-weight: var(--fw-600-semibold);
}

.fw-700 {
  font-weight: var(--fw-700-bold);
}

.fw-800 {
  font-weight: var(--fw-800-extraBold);
}

.fw-900 {
  font-weight: var(--fw-900-black);
}

.links-attrs, .txt-link-gray, .txt-link-warning, .txt-link-danger, .txt-link-info, .txt-link-success, .txt-link-secondary, .txt-link-primary {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: inline-block;
}

.txt-underline {
  text-decoration: underline;
}

ul.nav-pills li a.nav-link:hover {
  background-color: var(--primary-800);
}

ul.nav-pills li .nav-link.active {
  background-color: var(--primary-700);
}

.border-left-primary {
  border-left: 1px solid var(--primary-700) !important;
}

.border-left-success {
  border-left: 1px solid var(--success-700) !important;
}

.border-left-info {
  border-left: 1px solid var(--info-700) !important;
}

.border-left-warning {
  border-left: 1px solid var(--warning-700) !important;
}

.border-left-secondary {
  border-left: 1px solid var(--secondary-700) !important;
}

.button {
  font-size: 16px;
  padding: 12px 24px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.button.button-sm {
  font-size: 14px;
  padding: 8px 12px;
}

.button.button-lg {
  font-size: 16px;
  padding: 12px 40px;
}

.button.button-right-icon {
  padding: 12px 18px 12px 24px;
}

.button.button-left-icon {
  padding: 12px 24px 12px 18px;
}

.button-lg.button-right-icon {
  padding: 12px 22px 12px 30px;
}

.button-lg.button-left-icon {
  padding: 12px 30px 12px 22px;
}

.button.button-icon-only {
  padding: 12px;
}

.button.button-primary {
  color: white;
  background-color: var(--primary-700);
  border: 1px solid var(--primary-700);
}
.button.button-primary:hover {
  color: white;
  background-color: var(--primary-900);
  border: 1px solid var(--primary-900);
}
.button.button-primary:focus {
  color: white;
  background-color: var(--primary-800);
  border: 1px solid var(--primary-800);
}

.txt-primary, .txt-link-primary {
  color: var(--primary-700);
}

.txt-link-primary:hover {
  color: var(--primary-900);
}
.txt-link-primary:active {
  color: var(--primary-800);
}

.bgc-primary-900 {
  background-color: var(--primary-900);
}

.bgc-primary-800 {
  background-color: var(--primary-800);
}

.bgc-primary-700 {
  background-color: var(--primary-700);
}

.bgc-primary-50 {
  background-color: var(--primary-50);
}

.button.button-secondary {
  color: white;
  background-color: var(--secondary-700);
  border: 1px solid var(--secondary-700);
}
.button.button-secondary:hover {
  color: white;
  background-color: var(--secondary-900);
  border: 1px solid var(--secondary-900);
}
.button.button-secondary:focus {
  color: white;
  background-color: var(--secondary-800);
  border: 1px solid var(--secondary-800);
}

.txt-secondary, .txt-link-secondary {
  color: var(--secondary-700);
}

.txt-link-secondary:hover {
  color: var(--secondary-900);
}
.txt-link-secondary:active {
  color: var(--secondary-800);
}

.bgc-secondary-900 {
  background-color: var(--secondary-900);
}

.bgc-secondary-800 {
  background-color: var(--secondary-800);
}

.bgc-secondary-700 {
  background-color: var(--secondary-700);
}

.bgc-secondary-50 {
  background-color: var(--secondary-50);
}

.button.button-success {
  color: white;
  background-color: var(--success-700);
  border: 1px solid var(--success-700);
}
.button.button-success:hover {
  color: white;
  background-color: var(--success-900);
  border: 1px solid var(--success-900);
}
.button.button-success:focus {
  color: white;
  background-color: var(--success-800);
  border: 1px solid var(--success-800);
}

.txt-success, .txt-link-success {
  color: var(--success-700);
}

.txt-link-success:hover {
  color: var(--success-900);
}
.txt-link-success:active {
  color: var(--success-800);
}

.bgc-success-900 {
  background-color: var(--success-900);
}

.bgc-success-800 {
  background-color: var(--success-800);
}

.bgc-success-700 {
  background-color: var(--success-700);
}

.bgc-success-50 {
  background-color: var(--success-50);
}

.button.button-info {
  color: white;
  background-color: var(--info-700);
  border: 1px solid var(--info-700);
}
.button.button-info:hover {
  color: white;
  background-color: var(--info-900);
  border: 1px solid var(--info-900);
}
.button.button-info:focus {
  color: white;
  background-color: var(--info-800);
  border: 1px solid var(--info-800);
}

.txt-info, .txt-link-info {
  color: var(--info-700);
}

.txt-link-info:hover {
  color: var(--info-900);
}
.txt-link-info:active {
  color: var(--info-800);
}

.bgc-info-900 {
  background-color: var(--info-900);
}

.bgc-info-800 {
  background-color: var(--info-800);
}

.bgc-info-700 {
  background-color: var(--info-700);
}

.bgc-info-50 {
  background-color: var(--info-50);
}

.button.button-danger {
  color: white;
  background-color: var(--danger-700);
  border: 1px solid var(--danger-700);
}
.button.button-danger:hover {
  color: white;
  background-color: var(--danger-900);
  border: 1px solid var(--danger-900);
}
.button.button-danger:focus {
  color: white;
  background-color: var(--danger-800);
  border: 1px solid var(--danger-800);
}

.txt-danger, .txt-link-danger {
  color: var(--danger-700);
}

.txt-link-danger:hover {
  color: var(--danger-900);
}
.txt-link-danger:active {
  color: var(--danger-800);
}

.bgc-danger-900 {
  background-color: var(--danger-900);
}

.bgc-danger-800 {
  background-color: var(--danger-800);
}

.bgc-danger-700 {
  background-color: var(--danger-700);
}

.bgc-danger-50 {
  background-color: var(--danger-50);
}

.button.button-warning {
  color: white;
  background-color: var(--warning-700);
  border: 1px solid var(--warning-700);
}
.button.button-warning:hover {
  color: white;
  background-color: var(--warning-900);
  border: 1px solid var(--warning-900);
}
.button.button-warning:focus {
  color: white;
  background-color: var(--warning-800);
  border: 1px solid var(--warning-800);
}

.txt-warning, .txt-link-warning {
  color: var(--warning-700);
}

.txt-link-warning:hover {
  color: var(--warning-900);
}
.txt-link-warning:active {
  color: var(--warning-800);
}

.bgc-warning-900 {
  background-color: var(--warning-900);
}

.bgc-warning-800 {
  background-color: var(--warning-800);
}

.bgc-warning-700 {
  background-color: var(--warning-700);
}

.bgc-warning-50 {
  background-color: var(--warning-50);
}

.button.button-gray {
  color: white;
  background-color: var(--gray-700);
  border: 1px solid var(--gray-700);
}
.button.button-gray:hover {
  color: white;
  background-color: var(--gray-900);
  border: 1px solid var(--gray-900);
}
.button.button-gray:focus {
  color: white;
  background-color: var(--gray-800);
  border: 1px solid var(--gray-800);
}

.txt-gray, .txt-link-gray {
  color: var(--gray-700);
}

.txt-link-gray:hover {
  color: var(--gray-900);
}
.txt-link-gray:active {
  color: var(--gray-800);
}

.bgc-gray-900 {
  background-color: var(--gray-900);
}

.bgc-gray-800 {
  background-color: var(--gray-800);
}

.bgc-gray-700 {
  background-color: var(--gray-700);
}

.bgc-gray-50 {
  background-color: var(--gray-50);
}

.button.button-outline-primary {
  color: var(--primary-700);
  background-color: transparent;
  border: 1px solid var(--primary-700);
}
.button.button-outline-primary:hover {
  color: white;
  background-color: var(--primary-900);
  border: 1px solid var(--primary-900);
}
.button.button-outline-primary:focus {
  color: white;
  background-color: var(--primary-800);
  border: 1px solid var(--primary-800);
}

.button.button-outline-secondary {
  color: var(--secondary-700);
  background-color: transparent;
  border: 1px solid var(--secondary-700);
}
.button.button-outline-secondary:hover {
  color: white;
  background-color: var(--secondary-900);
  border: 1px solid var(--secondary-900);
}
.button.button-outline-secondary:focus {
  color: white;
  background-color: var(--secondary-800);
  border: 1px solid var(--secondary-800);
}

.button.button-outline-success {
  color: var(--success-700);
  background-color: transparent;
  border: 1px solid var(--success-700);
}
.button.button-outline-success:hover {
  color: white;
  background-color: var(--success-900);
  border: 1px solid var(--success-900);
}
.button.button-outline-success:focus {
  color: white;
  background-color: var(--success-800);
  border: 1px solid var(--success-800);
}

.button.button-outline-info {
  color: var(--info-700);
  background-color: transparent;
  border: 1px solid var(--info-700);
}
.button.button-outline-info:hover {
  color: white;
  background-color: var(--info-900);
  border: 1px solid var(--info-900);
}
.button.button-outline-info:focus {
  color: white;
  background-color: var(--info-800);
  border: 1px solid var(--info-800);
}

.button.button-outline-danger {
  color: var(--danger-700);
  background-color: transparent;
  border: 1px solid var(--danger-700);
}
.button.button-outline-danger:hover {
  color: white;
  background-color: var(--danger-900);
  border: 1px solid var(--danger-900);
}
.button.button-outline-danger:focus {
  color: white;
  background-color: var(--danger-800);
  border: 1px solid var(--danger-800);
}

.button.button-outline-warning {
  color: var(--warning-700);
  background-color: transparent;
  border: 1px solid var(--warning-700);
}
.button.button-outline-warning:hover {
  color: white;
  background-color: var(--warning-900);
  border: 1px solid var(--warning-900);
}
.button.button-outline-warning:focus {
  color: white;
  background-color: var(--warning-800);
  border: 1px solid var(--warning-800);
}

.button.button-outline-gray {
  color: var(--gray-700);
  background-color: transparent;
  border: 1px solid var(--gray-700);
}
.button.button-outline-gray:hover {
  color: white;
  background-color: var(--gray-900);
  border: 1px solid var(--gray-900);
}
.button.button-outline-gray:focus {
  color: white;
  background-color: var(--gray-800);
  border: 1px solid var(--gray-800);
}

.radius-none {
  border-radius: var(--radius-none);
}

.radius-xs {
  border-radius: var(--radius-xs);
}

.radius-sm {
  border-radius: var(--radius-sm);
}

.radius {
  border-radius: var(--radius);
}

.radius-lg {
  border-radius: var(--radius-lg);
}

.radius-xl {
  border-radius: var(--radius-xl);
}

.radius-xxl {
  border-radius: var(--radius-xxl);
}

.radius-rounded {
  border-radius: var(--radius-rounded);
}